* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

.mainTitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.treeContainer {
  display: flex;
  flex-flow: row wrap;
}

.refContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 0 30px;
}

#attendanceHistogram {
  flex: 1;
}

.teamsTableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#matchesPieChart {
  position: relative;
  flex: 1;
  margin-bottom: 20px;
}

.matchesContainer {
  display: flex;
  flex-flow: row wrap;
}

td {
  margin-right: 10px;
}

rect {
  fill: #66c2a5;
}

.link {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 1px;
}

.win {
  stroke-width: 3px !important;
}

#container {
  position: relative;
}

#labels .table {
  position: absolute;
  background-color: #66c2a5;
   padding: 5px 7px 3px;
  line-height: 2;
  min-width: 185px;
  box-shadow: 0px 2px 2px 1px rgba(34, 34, 34, 0.1);
  color: #222222;
  border: 0px solid rgba(34, 34, 34, 0.1);
}

#labels .played {
  --border-width: 0px;
}

.played:hover {
  cursor: pointer;
}

#matchesPieChart {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}

#labels .row  {
  display: table-row;
  }

#labels .cell {
  padding-left: 10px;
  display: table-cell;
  text-transform: uppercase;
}

.winner {
  font-weight: bold;
}

.cell.score {
  border-left: 1px solid rgba(34, 34, 34, 0.1);
}

.cell.name {
  min-width: 140px;
  padding-right: 10px;
}

.referees {
  display: flex;
  flex-flow: row;
  flex: 1;
}
.referees .legend{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.match-info-container {
  margin: 76px 70px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-info {
  display: none;
  background-color: #66c2a5;
  min-width: 150px;
  max-width: 300px;
  max-height: 200px;
  padding: 30px 30px;
  border-radius: 10px;
}
table:hover{
  cursor: pointer;
}

#refereesPieChart {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}